

.head, .row1 {
    background: white;
    color: darkslategrey;
    padding: 10px 10px;
    font-family: sans-serif;
}

.summaryRow {
    background: white;
    color: black;
    padding: 10px 10px;
    font-family: bold sans-serif;
}

#theTable, th, td {
    border: 1px solid black;
    padding: 5px 10px;


}

#theTable td:hover {
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
}

table, tr:nth-last-child(8) {
    font-weight: 600;
}


tr:nth-last-child(1) {
    font-weight: 600;
}

tr, th {
    padding: 5px 20px 5px 20px;
}

div#container {
    top: 84px;
    margin: auto;
    width: 747px;
    height: 359px;
    position: relative;
    padding: 25px;
    border: 5px double navy;
}

div#descriptionText {
    font-size: 1.05em;
    padding: 30px 20px;
    color: Navy;
}

.page {
    position: absolute;
    width: 280px;
    height: 280px;
}

div#descriptionText1 {
    margin: 0px;
    box-sizing: border-box;
    width: 380px;
    height: 160px;
    left: 321px;
    top: 215px;
}

div#descriptionText2 {
    margin: 0px;
    box-sizing: border-box;
    width: 380px;
    height: 160px;
    left: 321px;
    top: 235px;
}

div#descriptionText3 {
    margin: 0px;
    box-sizing: border-box;
    width: 380px;
    height: 160px;
    left: 321px;
    top: 255px;
}

div#descriptionText4 {
    margin: 0px;
    box-sizing: border-box;
    width: 380px;
    height: 160px;
    left: 321px;
    top: 275px;
}

div#JobTitle {
    margin: auto;
    box-sizing: border-box;
    left: 321px;
    top: 20px;
    font-family: bold Georgia;
    font-size: 1.2rem;
}

div#JobDescription {
    margin: 0px;
    box-sizing: border-box;
    text-align: justify;
    width: 380px;
    height: 60px;
    left: 321px;
    top: 75px;
}

div#SkillsTitle {
    margin: 0px;
    box-sizing: border-box;
    left: 321px;
    top: 182px;
    font-family: bold Georgia;
    font-size: 1.2rem;
}

img#featuredImage {
    left: 15px;
    top: 15px;
}

div#thumbview {
    width: 1180px;
    min-width: 1120px;
    height: 130px;
    margin-top: 100px;
    box-sizing: border-box;
}

div.thumb-holder {
    height: 100%;
    width: 124px;
    float: left;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 5px 10px 10px;

}

div#thumbview img {
    position: relative;
    left: auto;
    top: auto;
    margin: auto;
    height: 100px;
    width: 90px;
    box-sizing: inherit;
    cursor: pointer;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

nav {
    max-width: 1980px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 90px 0;

}

nav ul {
    text-align: left;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 20px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 51, 183, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(41, 41, 41, 0.1);
    color: rgba(0, 44, 154, 0.7);
}

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.4;
    color: #fff;
    background: #000 url("./images/Software.jpg") top center no-repeat;
    width: 100%;
    height: 225px;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.jumbotron h1 {
    margin-top: 0;
}

.jumbotron {
    position: relative;
    padding-top: 90px;
    padding-bottom: 50px;
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

.blur {
    background: url('./images/Software.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(3px);
    position: absolute;
    height: 500px;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}

.widget {
    border-top: 2px solid rgba(255, 255, 255, .5);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.text {
    height: 170px;
    width: 740px;
}

.text h1 {
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    color: #ffffff;
    margin-top: 57px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 38px;
}
.jumbotron-billboard .imgbottom {
    margin-bottom: 0px;
    margin-top: 10px;

    opacity: 0.9;
    color: #fff;
    background: #000 url("./images/marine.jpg") top center no-repeat;
    width: 100%;
    height: 280px;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.textRight h4 {
    text-align: right;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    color: #ffffff;
    margin-top: 97px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .jumbotron {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}